
<section class="zan-toolbar hidden-xs" id="zan-toolbar">
    <div class="container">
        <div class="toolbar-nav">
            <div class="menu-%e9%a1%b6%e9%83%a8%e5%b7%a6-container">
                <ul id="menu-%e9%a1%b6%e9%83%a8%e5%b7%a6" class="menu">
                    <li id="menu-item-13738" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-13738 active ">
                    <a title="比特币资讯" href="http://www.8btc.com/">资讯</a>
                    </li>
                    <li id="menu-item-32484" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-32484"><a title="比特币论坛" target="_blank" href="http://8btc.com/">论坛</a>
                    <ul class="sub-menu">
                        <li id="menu-item-68667" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-68667"><a href="http://8btc.com/forum-42-1.html">问答</a></li>
                    </ul>
                    </li>
                    <li id="menu-item-42394" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-42394"><a href="http://8btc.com/bijie">币界</a></li>
                    <li id="menu-item-12252" class="menu-item-index-video menu-item menu-item-type-custom menu-item-object-custom menu-item-12252"><a title="比特币视频" href="http://video.8btc.com/">视频</a>
                    <ul class="sub-menu">
                        <li id="menu-item-41536" class="menu-item-new menu-item menu-item-type-post_type menu-item-object-page menu-item-41536"><a href="http://review.8btc.com/">测评</a></li>
                    </ul>
                    </li>
                    <li id="menu-item-68668" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-68668"><a href="http://8btc.com/forum-118-1.html">活动</a></li>
                    <li id="menu-item-31359" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-31359"><a href="http://app.8btc.com/">应用</a>
                    <ul class="sub-menu">
                        <li id="menu-item-31360" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-31360"><a href="http://soft.8btc.com/">软件</a></li>
                    </ul>
                    </li>
                    <li id="menu-item-33067" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-33067"><a target="_blank" href="http://bitcoinwiki.cn/">维基</a></li>
                    <li id="menu-item-72943" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-72943"><a href="http://8btc.com/xueyuan">学院</a>
                    <ul class="sub-menu">
                        <li id="menu-item-71472" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-71472"><a href="http://8btc.com/bitebi">比特币教程</a></li>
                        <li id="menu-item-71473" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-71473"><a href="http://8btc.com/shanzhaibi">山寨币教程</a></li>
                    </ul>
                    </li>
                    <li id="menu-item-77214" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-77214"><a href="https://bizhongchou.com/">币众筹</a></li>
                    <li id="menu-item-22609" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-22609"><a title="比特币区块链数据查询" target="_blank" href="http://blockmeta.com/">区块元</a></li>
                    <li id="menu-item-12209" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12209"><a href="http://www.8btc.com/sitemap">存档</a>
                    <ul class="sub-menu">
                        <li id="menu-item-13745" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13745"><a href="http://www.8btc.com/wiki/term">比特币常用名词</a></li>
                        <li id="menu-item-13741" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13741"><a href="http://www.8btc.com/wiki/bitcoin-basic-concepts">比特币基本概念</a></li>
                        <li id="menu-item-12251" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-12251"><a href="http://www.8btc.com/bitcoin-story">比特币通俗解释</a></li>
                        <li id="menu-item-13740" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13740"><a href="http://www.8btc.com/wiki/bitcoin-technical-principles">比特币技术进阶</a></li>
                        <li id="menu-item-13744" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13744"><a href="http://www.8btc.com/wiki/questions-answers">比特币常见问题解答</a></li>
                        <li id="menu-item-13742" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13742"><a href="http://www.8btc.com/wiki/bitcoin-wallet-safe-use-perfect-backup">比特币钱包的安全使用和完美备份</a></li>
                        <li id="menu-item-13743" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-13743"><a href="http://www.8btc.com/wiki/bitcoin-a-peer-to-peer-electronic-cash-system">比特币白皮书：一种点对点的电子现金系统</a></li>
                    </ul>
                    </li>
        </ul></div>			</div> 
        <div class="toolbar-column">
        </div>
        <form class="zan-search" role="search" action="http://www.8btc.com/">
            <div class="form-group">
                <input type="text" class="form-control" name="s" id="s" placeholder="搜索...">
            </div>
            <i class="fa fa-search"></i>
        </form>
        <div class="user">
            <span class="user-account"><a href="http://www.8btc.com/wp-login.php?redirect_to=http%3A%2F%2Fwww.8btc.com%2F"><i class="fa fa-user"></i>账户</a></span>
            <span class="user-dropdown">
                <a class="news-user-login" href="http://www.8btc.com/wp-login.php?redirect_to=http%3A%2F%2Fwww.8btc.com%2F"><i class="fa fa-sign-in"></i>登录
                </a>
                <a class="news-user-signup" href="http://www.8btc.com/wp-login.php?action=register"><i class="fa fa-sign-out"></i>注册
                </a>
            </span>
        </div>
    </div>
</section>

<header class="zan-header" id="zan-header">
    <div class="container">
        <div class="header-content clearfix">
            <div class="logo">
                <a href="http://www.8btc.com/"><img src="./8btc_index_files/logo.svg" alt="巴比特"></a>
            </div>
            <div class="ad hidden-xs hidden-sm" style="max-height:100px;overflow:hidden;z-index:-999;">
                <div class="adkingprocontainer" id="akp_slideshow22396">
                    <div class="adkingprobanner ad_global_top_right akpbanner banner79634" style="display: none;">
                        <a href="https://pro.btcc.com/?utm_source=8btchome&amp;utm_medium=banner&amp;utm_campaign=8btc" target="_blank" rel="nofollow" data-id="79634">
                        <img src="./8btc_index_files/8btc_homepage_banner_btcc.gif" style="max-width: px; max-height: px;" alt="BTCC专业交易"></a>
                    </div>
                    <div class="adkingprobanner ad_global_top_right akpbanner banner80110" style="display: block;">
                        <a href="https://oxbtc.com/" target="_blank" rel="nofollow" data-id="80110">
                            <img src="./8btc_index_files/5.pic_hd.jpg" style="max-width: px; max-height: px;" alt="哈雷比特"></a>
                    </div>
                </div>
                <script type="text/javascript">
                    jQuery('#akp_slideshow22396').jshowoff({ speed:5000, changeSpeed:600, effect: 'fade', links: false, controls: false });
                </script>
            </div>
            <a href="https://www.huobi.com/topic/index.php?a=land_new&amp;utm_source=5604664" target="_blank" rel="nofollow" data-id="83138" class="adkingprobannertext ad_global_top_left banner83138">
                <div class="header-prices hidden-xs hidden-sm hidden-md" style="margin-right:10px;height:91px;width:297px;overflow:hidden;z-index:-999;float:right;background:url(http://7fvhfe.com1.z0.glb.clouddn.com/%40%2F/wp-content/themes/8btctest1/ui/images/huobi_header_ticker.png);">
                    <div class="price-container price-small price-gbp" style="color:#fff;margin-top:68px;margin-left:22px;font-size:15px;font-family:Arial">
                        最新价格：&nbsp;
                        <span style="color:#fff;letter-spacing:1px;">
                            ¥2794.43&nbsp; / $431.91&nbsp;
                        </span>
                        <span style="background:url(http://7fvhfe.com1.z0.glb.clouddn.com/%40%2F/wp-content/themes/8btctest1/ui/images/okcoin_header_ticker_down.png) no-repeat center -2px;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    </div>
                </div>
            </a>						
        </div>
    </div>
</header>