<section class="zan-nav" id="zan-nav">
    <div class="container">
        <nav class="navbar pull-left" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#zan-navber">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="zan-navber">
                <div class="menu-%e5%af%bc%e8%88%aa-container">
                    <ul id="menu-%e5%af%bc%e8%88%aa" class="nav navbar-nav">
                        <li id="menu-item-12223" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-12223 active "><a href="http://www.8btc.com/">首页</a></li>
                        <li id="menu-item-70260" class="tag-category-nav blockchain-current-menu menu-item-hot menu-item menu-item-type-custom menu-item-object-custom menu-item-70260"><a href="http://www.8btc.com/blockchain">区块链</a>
                        <ul class="sub-menu">
                            <li id="menu-item-70193" class="fa fa-pencil menu-item menu-item-type-post_type menu-item-object-page menu-item-70193">
                                <a href="http://www.8btc.com/blockchain-author">专栏</a>
                            </li>
                            <li id="menu-item-70190" class="fa fa-dollar menu-item menu-item-type-post_type menu-item-object-page menu-item-70190">
                                <a href="http://www.8btc.com/blockchain-vc">创投</a>
                            </li>
                            <li id="menu-item-70194" class="fa fa-users menu-item menu-item-type-post_type menu-item-object-page menu-item-70194">
                                <a href="http://www.8btc.com/blockchain-activity">活动</a>
                            </li>
                            <li id="menu-item-70192" class="fa fa-lightbulb-o menu-item menu-item-type-post_type menu-item-object-page menu-item-70192">
                                <a href="http://www.8btc.com/blockchain-item">项目</a>
                            </li>
                            <li id="menu-item-70191" class="fa fa-wikipedia-w menu-item menu-item-type-post_type menu-item-object-page menu-item-70191">
                                <a href="http://www.8btc.com/what-is-blockchain">维基</a>
                            </li>
                            <li id="menu-item-83720" class="icon-line-1 dropdown2-menu menu-item menu-item-type-taxonomy menu-item-object-post_tag_category menu-item-83720">
                            <div class="fontawesome 32">
                                <strong><i class="fa fa-gears"></i> 智能合约</strong>
                                <div>
                                    <a target="_blank" href="http://www.8btc.com/coloredcoin">彩色币</a>
                                </div>
                                <div>
                                    <a target="_blank" href="http://www.8btc.com/lightning-network">闪电网络</a>
                                </div>
                                <div>
                                    <a target="_blank" href="http://www.8btc.com/sidechain">侧链</a>
                                </div>
                                <div>
                                    <a target="_blank" href="http://www.8btc.com/hyperledger">超级账本</a>
                                </div>
                                <div>
                                    <a target="_blank" href="http://www.8btc.com/rootstock">RootStock</a>
                                </div>
                            </div>
                            </li>
                            <li id="menu-item-83754" class="icon-line-1 dropdown2-menu menu-item menu-item-type-taxonomy menu-item-object-post_tag_category menu-item-83754">
                            <div class="fontawesome 31">
                                <strong><i class="fa fa-database"></i> 公证防伪</strong>
                                <div><a target="_blank" href="http://www.8btc.com/factom">公证通</a></div><div><a target="_blank" href="http://www.8btc.com/blockai">Blockai</a></div><div><a target="_blank" href="http://www.8btc.com/stampery">Stampery</a></div><div><a target="_blank" href="http://www.8btc.com/bitse">BitSE</a></div>
                            </div>
                            </li>
                            <li id="menu-item-83721" class="icon-line-1 dropdown2-menu menu-item menu-item-type-taxonomy menu-item-object-post_tag_category menu-item-83721">
                            <div class="fontawesome 35">
                                <strong><i class="fa fa-money"></i> 资产交易</strong>
                                <div><a target="_blank" href="http://www.8btc.com/symbiont">Symbiont</a></div><div><a target="_blank" href="http://www.8btc.com/dah">DAH</a></div><div><a target="_blank" href="http://www.8btc.com/antshares">小蚁</a></div><div><a target="_blank" href="http://www.8btc.com/t0">tØ</a></div><div><a target="_blank" href="http://www.8btc.com/linq">Linq</a></div><div><a target="_blank" href="http://www.8btc.com/colu">Colu</a></div>
                            </div>
                            </li>
                            <li id="menu-item-83756" class="icon-line-1 dropdown2-menu menu-item menu-item-type-taxonomy menu-item-object-post_tag_category menu-item-83756">
                            <div class="fontawesome 7">
                                <strong><i class="fa fa-bank"></i> 银行结算</strong>
                                <div><a target="_blank" href="http://www.8btc.com/r3cev">R3CEV</a></div>
                            </div>
                            </li>
                            <li id="menu-item-83725" class="icon-line-1 dropdown2-menu menu-item menu-item-type-taxonomy menu-item-object-post_tag_category menu-item-83725">
                            <div class="fontawesome 29">
                                <strong><i class="fa fa-gg-circle"></i> 电子商务</strong>
                                <div><a target="_blank" href="http://www.8btc.com/openbazaar">OpenBazaar</a></div><div><a target="_blank" href="http://www.8btc.com/skuchain">Skuchain</a></div><div><a target="_blank" href="http://www.8btc.com/purse">Purse</a></div>
                            </div>
                            </li>
                            <li id="menu-item-83726" class="icon-line-1 dropdown2-menu menu-item menu-item-type-taxonomy menu-item-object-post_tag_category menu-item-83726">
                            <div class="fontawesome 11">
                                <strong><i class="fa fa-twitter"></i> 社交通讯</strong>
                                <div><a target="_blank" href="http://www.8btc.com/bitmessage">比特信</a></div><div><a target="_blank" href="http://www.8btc.com/gems">Gems</a></div>
                            </div>
                            </li>
                            <li id="menu-item-83724" class="icon-line-1 dropdown2-menu menu-item menu-item-type-taxonomy menu-item-object-post_tag_category menu-item-83724">
                            <div class="fontawesome 7">
                                <strong><i class="fa fa-crosshairs"></i> 物联网</strong>
                                <div><a target="_blank" href="http://www.8btc.com/adept">ADEPT</a></div>
                            </div>
                            </li>
                            <li id="menu-item-83747" class="icon-line-1 dropdown2-menu menu-item menu-item-type-taxonomy menu-item-object-post_tag_category menu-item-83747">
                            <div class="fontawesome 25">
                                <strong><i class="fa fa-cloud-download"></i> 文件存储</strong>
                                <div><a target="_blank" href="http://www.8btc.com/maidsafe">MaidSafe</a></div><div><a target="_blank" href="http://www.8btc.com/enigma">Enigma</a></div><div><a target="_blank" href="http://www.8btc.com/storj">Storj</a></div>
                            </div>
                            </li>
                            <li id="menu-item-83723" class="icon-line-1 dropdown2-menu menu-item menu-item-type-taxonomy menu-item-object-post_tag_category menu-item-83723">
                            <div class="fontawesome 32">
                                <strong><i class="fa fa-line-chart"></i> 数据API</strong>
                                <div><a target="_blank" href="http://www.8btc.com/blockcypher">BlockCypher</a></div><div><a target="_blank" href="http://www.8btc.com/tradeblock">TradeBlock</a></div><div><a target="_blank" href="http://www.8btc.com/chain">Chain</a></div>
                            </div>
                            </li>
                            <li id="menu-item-83755" class="icon-line-1 dropdown2-menu menu-item menu-item-type-taxonomy menu-item-object-post_tag_category menu-item-83755">
                            <div class="fontawesome 7">
                                <strong><i class="fa fa-globe"></i> 其它</strong>
                                <div><a target="_blank" href="http://www.8btc.com/augur">Augur</a></div>
                            </div>
                            </li>
                        </ul>
                        </li>
                        <li id="menu-item-12204" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-12204"><a href="http://www.8btc.com/technical">比特币</a>
                        <ul class="sub-menu">
                            <li id="menu-item-13650" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-13650"><a href="http://www.8btc.com/legal-policy">法律政策</a></li>
                            <li id="menu-item-13649" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-13649"><a href="http://www.8btc.com/cypherpunk">矿业动态</a></li>
                            <li id="menu-item-13648" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-13648"><a href="http://www.8btc.com/how">技术指南</a></li>
                        </ul>
                        </li>
                        <li id="menu-item-44077" class="tag-category-nav menu-item menu-item-type-post_type menu-item-object-page menu-item-44077"><a href="http://www.8btc.com/jzb">竞争币</a>
                        <ul class="sub-menu">
                            <li id="menu-item-70313" class="icon-line-1 dropdown2-menu menu-item menu-item-type-taxonomy menu-item-object-post_tag_category menu-item-70313">
                            <div class="fontawesome 20">
                                <strong><i class="fa fa-star"></i> PoW</strong>
                                <div><a target="_blank" href="http://www.8btc.com/litecoin">莱特币</a></div><div><a target="_blank" href="http://www.8btc.com/dogecoin">狗狗币</a></div><div><a target="_blank" href="http://www.8btc.com/dash">达世币</a></div><div><a target="_blank" href="http://www.8btc.com/namecoin">域名币</a></div>
                            </div>
                            </li>
                            <li id="menu-item-70312" class="icon-line-1 dropdown2-menu menu-item menu-item-type-taxonomy menu-item-object-post_tag_category menu-item-70312">
                            <div class="fontawesome 19">
                                <strong><i class="fa fa-star-o"></i> PoS</strong>
                                <div><a target="_blank" href="http://www.8btc.com/bitshares">比特股</a></div><div><a target="_blank" href="http://www.8btc.com/dacrs">智能坊</a></div><div><a target="_blank" href="http://www.8btc.com/nxt">未来币</a></div><div><a target="_blank" href="http://www.8btc.com/blackcoin">黑币</a></div>
                            </div>
                            </li>
                            <li id="menu-item-70314" class="icon-line-1 dropdown2-menu menu-item menu-item-type-taxonomy menu-item-object-post_tag_category menu-item-70314">
                            <div class="fontawesome 10">
                                <strong><i class="fa fa-star-half-full"></i> PoW+PoS</strong>
                                <div><a target="_blank" href="http://www.8btc.com/ethereum">以太坊</a></div><div><a target="_blank" href="http://www.8btc.com/peercoin">点点币</a></div>
                            </div>
                            </li>
                            <li id="menu-item-70315" class="icon-line-1 dropdown2-menu menu-item menu-item-type-taxonomy menu-item-object-post_tag_category menu-item-70315">
                            <div class="fontawesome 15">
                                <strong><i class="fa fa-globe"></i> 其它币</strong>
                                <div><a target="_blank" href="http://www.8btc.com/ripple">瑞波币</a></div><div><a target="_blank" href="http://www.8btc.com/stellar">恒星币</a></div><div><a target="_blank" href="http://www.8btc.com/counterparty">合约币</a></div>
                            </div>
                            </li>
                        </ul>
                        </li>
                        <li id="menu-item-49603" class="tag-category-nav menu-item menu-item-type-custom menu-item-object-custom menu-item-49603"><a title="币圈子" href="http://www.8btc.com/bqz">币圈子</a>
                        <ul class="sub-menu">
                            <li id="menu-item-70316" class="icon-line-4 dropdown2-menu menu-item menu-item-type-taxonomy menu-item-object-post_tag_category menu-item-70316">
                            <div class="fontawesome 125">
                                <strong><i class="fa fa-bitcoin"></i> 交易所</strong>
                                <div>
                                    <a target="_blank" href="http://www.8btc.com/huobi">火币</a>
                                </div>
                                <div><a target="_blank" href="http://www.8btc.com/btcc">BTCC</a></div>
                                <div><a target="_blank" href="http://www.8btc.com/okcoin">OKCoin</a></div>
                                <div><a target="_blank" href="http://www.8btc.com/bitstamp">Bitstamp</a></div>
                                <div><a target="_blank" href="http://www.8btc.com/bitreserve">比特储</a></div>
                                <div><a target="_blank" href="http://www.8btc.com/bitbays">BitBays</a></div>
                                <div><a target="_blank" href="http://www.8btc.com/bitsquan">比权网</a></div>
                                <div><a target="_blank" href="http://www.8btc.com/bitfinex">Bitfinex</a></div>
                                <div><a target="_blank" href="http://www.8btc.com/kraken">Kraken</a></div>
                                <div><a target="_blank" href="http://www.8btc.com/itbit">itBit</a></div>
                                <div><a target="_blank" href="http://www.8btc.com/bitflyer">BitFlyer</a></div>
                                <div><a target="_blank" href="http://www.8btc.com/korbit">Korbit</a></div>
                                <div><a target="_blank" href="http://www.8btc.com/coinplug">Coinplug</a></div>
                                <div><a target="_blank" href="http://www.8btc.com/bitgo">BitGo</a></div>
                                <div><a target="_blank" href="http://www.8btc.com/cex-io">CEX.io</a></div>
                                <div><a target="_blank" href="http://www.8btc.com/coinnice">Coinnice</a></div>
                            </div>
                            </li>
                            <li id="menu-item-70320" class="icon-line-2 dropdown2-menu menu-item menu-item-type-taxonomy menu-item-object-post_tag_category menu-item-70320">
                            <div class="fontawesome 65">
                                <strong><i class="fa fa-money"></i> 钱包</strong>
                                <div> <a target="_blank" href="http://www.8btc.com/coinbase">Coinbase</a> </div>
                                <div><a target="_blank" href="http://www.8btc.com/bitpay">BitPay</a></div>
                                <div><a target="_blank" href="http://www.8btc.com/blockchain-info">Blockchain.info</a></div>
                                <div><a target="_blank" href="http://www.8btc.com/circle">Circle</a></div>
                                <div><a target="_blank" href="http://www.8btc.com/xapo">Xapo</a></div>
                                <div><a target="_blank" href="http://www.8btc.com/coinkite">Coinkite</a></div>
                                <div><a target="_blank" href="http://www.8btc.com/bitx">BitX</a></div>
                            </div>
                            </li>
                            <li id="menu-item-70318" class="icon-line-1 dropdown2-menu menu-item menu-item-type-taxonomy menu-item-object-post_tag_category menu-item-70318">
                            <div class="fontawesome 25">
                                <strong><i class="fa fa-key"></i> 挖矿</strong>
                                <div><a target="_blank" href="http://www.8btc.com/bitmain">比特大陆</a></div><div><a target="_blank" href="http://www.8btc.com/bitfury">BitFury</a></div><div><a target="_blank" href="http://www.8btc.com/kncminer">KnCMiner</a></div>
                            </div>
                            </li>
                            <li id="menu-item-70319" class="icon-line-1 dropdown2-menu menu-item menu-item-type-taxonomy menu-item-object-post_tag_category menu-item-70319">
                            <div class="fontawesome 25">
                                <strong><i class="fa fa-link"></i> 硬件</strong>
                                <div><a target="_blank" href="http://www.8btc.com/ledger">Ledger</a></div><div><a target="_blank" href="http://www.8btc.com/21-inc">21 Inc</a></div><div><a target="_blank" href="http://www.8btc.com/bwallet">BWallet</a></div>
                            </div>
                            </li>
                            <li id="menu-item-70317" class="icon-line-1 dropdown2-menu menu-item menu-item-type-taxonomy menu-item-object-post_tag_category menu-item-70317">
                            <div class="fontawesome 19">
                                <strong><i class="fa fa-globe"></i> 其它币圈</strong>
                                <div><a target="_blank" href="http://www.8btc.com/blockstream">Blockstream</a></div><div><a target="_blank" href="http://www.8btc.com/btcs">BTCS</a></div>
                            </div>
                            </li>
                        </ul>
                        </li>
                        <li id="menu-item-34031" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-34031"><a href="http://www.8btc.com/vc">币创投</a></li>
                        <li id="menu-item-36060" class="tag-category-nav menu-item menu-item-type-post_type menu-item-object-page menu-item-36060"><a href="http://www.8btc.com/bbg">币八卦</a></li>
                        <li id="menu-item-70501" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-70501"><a href="http://www.8btc.com/byb">币研报</a>
                        <ul class="sub-menu">
                            <li id="menu-item-26099" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-26099"><a href="http://www.8btc.com/debate">币话题</a></li>
                            <li id="menu-item-80462" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-80462"><a href="http://www.8btc.com/topic">币专题</a></li>
                            <li id="menu-item-26100" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-26100"><a href="http://www.8btc.com/week">币周刊</a></li>
                            <li id="menu-item-28534" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-28534"><a href="http://www.8btc.com/dateline.html">币事记</a></li>
                        </ul>
                        </li>
                        <li id="menu-item-26787" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-26787"><a href="http://www.8btc.com/author/all">作者</a></li>
                        <li id="menu-item-27055" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-27055"><a href="http://www.8btc.com/readers">读者</a>
                        <ul class="sub-menu">
                            <li id="menu-item-39484" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-39484"><a href="http://www.8btc.com/comments">读者评论</a></li>
                            <li id="menu-item-26866" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-26866"><a href="http://www.8btc.com/zan">点赞墙</a></li>
                        </ul>
                        </li>
            </ul></div>				</div>
        </nav>
        <div class="sns clearfix hidden-xs">
            <a href="http://weibo.com/8BTC" target="_blank" class="weobo" data-toggle="tooltip" data-placement="top" data-original-title="微博粉丝数: 10K+"><span></span></a>
            <a class="weixin" data-toggle="tooltip" data-placement="top" data-original-title="微信订阅量: 2K+"><span></span><img src="./8btc_index_files/qrcode.png" alt="微信订阅"></a>
            <a class="donation" data-toggle="tooltip" data-placement="top" data-original-title="捐赠笔数: 45"><span></span><img src="./8btc_index_files/btcpay.png" alt="捐赠"></a>
            <!--a class="phone" data-toggle="tooltip" data-placement="top" data-original-title="App下载量: "><span></span><img src="/ui/images/bishida.png" alt="App"></a-->
        </div>
    </div>
</section>


