<div class="col-md-6 col-sm-6">
    <div class="header">
        <a target="_blank" href="http://www.8btc.com/blockchain">区块链</a>
    </div>
    <div class="article-list">
        <article class="new-article">
            <div class="article-thumbnail animated flipInY">
                <a target="_blank" href="http://www.8btc.com/dtcc-ceo-blockchain-generation-opportunity" data-id="86827">
                    <img width="380" height="228" src="/static/js/QQ截图20160416144256_副本-380x228.png" class="img-responsive wp-post-image" alt="QQ截图20160416144256_副本">                                                                                                            </a>
                <div class="article-info clearfix">
                    <span class="pull-left visible-md visible-lg default-grey">2016-04-16 15:00</span>
                    <span class="pull-left visible-sm visible-xs default-grey">2016-04-16</span>
                    <span class="pull-right"><i class="fa fa-comment-o"></i> <a target="_blank" href="http://www.8btc.com/dtcc-ceo-blockchain-generation-opportunity#comment">2</a></span>
                    <!-- <span class="pull-right"><a href="http://www.8btc.com/author/changjia" title="由 长铗 发布" rel="nofollow"> 长铗</a></span> -->
                </div>
            </div>
            <div class="article-content">
                <div class="article-title visible-lg visible-xs">
                    <a target="_blank" data-id="86827" title="DTCC CEO：区块链是一个千载难逢的机会" href="http://www.8btc.com/dtcc-ceo-blockchain-generation-opportunity">DTCC CEO：区块链是一个千载难逢的机...</a>
                </div>
                <div class="article-title visible-sm  visible-md">
                    <a target="_blank" data-id="86827" title="DTCC CEO：区块链是一个千载难逢的机会" href="http://www.8btc.com/dtcc-ceo-blockchain-generation-opportunity">DTCC CEO：区块链是一个千...</a>
                </div>
                <div class="artcile-details  visible-md visible-lg">

                    区块链技术正在迅速被吹捧为能够为金融业带来前所未有的飞跃。证券交易所，如澳大利亚交易所（ASX）已经不再只是进行区块链试验和长时间的测试，目前已经将区块链解决方案应用到交易后过程。...        
                </div>
                <div class="artcile-details visible-sm visible-xs">

                    区块链技术正在迅速被吹捧为能够为金融业带来前所未有的飞跃。证...        
                </div>
            </div>
        </article>
        <article class="article clearfix">
            <div class="article-thumbnail pull-left">
                <a target="_blank" href="http://www.8btc.com/waves-ico-day-one" data-id="86767">
                    <img width="380" height="228" src="/static/js/QQ截图20160415170227_副本-380x228.png" class="img-responsive wp-post-image" alt="QQ截图20160415170227_副本">                                                                                                            </a>
            </div>
            <div class="article-content">
                <div class="article-title visible-lg">
                    <a target="_blank" data-id="86767" title="WAVES ICO首日获得200万美元" href="http://www.8btc.com/waves-ico-day-one">WAVES ICO首日获得200万...</a>
                </div>
                <div class="article-title visible-md">
                    <a target="_blank" data-id="86767" title="WAVES ICO首日获得200万美元" href="http://www.8btc.com/waves-ico-day-one">WAVES ICO首日获得...</a>
                </div>
                <div class="article-title visible-sm">
                    <a target="_blank" data-id="86767" title="WAVES ICO首日获得200万美元" href="http://www.8btc.com/waves-ico-day-one">WAVES ICO首...</a>
                </div>
                <div class="article-title visible-xs">
                    <a target="_blank" data-id="86767" title="WAVES ICO首日获得200万美元" href="http://www.8btc.com/waves-ico-day-one">WAVES ICO首日获得200万美元</a>
                </div>
                <div class="article-info clearfix">
                    <span class="pull-left visible-md visible-lg default-grey">2016-04-15 17:04</span>
                    <span class="pull-left visible-sm visible-xs default-grey">2016-04-15</span>
                    <span class="pull-right"><i class="fa fa-comment-o"></i> <a target="_blank" href="http://www.8btc.com/waves-ico-day-one#comment">1</a></span>
                    <!-- <span class="pull-right"><a href="http://www.8btc.com/author/changjia" title="由 长铗 发布" rel="nofollow"> 长铗</a></span> -->
                </div>
            </div>
        </article>
        <article class="article clearfix">
            <div class="article-thumbnail pull-left">
                <a target="_blank" href="http://www.8btc.com/airbnb-blockchain" data-id="86760">
                    <img width="380" height="226" src="/static/js/Airbnb-区块链-380x226.jpg" class="img-responsive wp-post-image" alt="Airbnb  区块链">                                                                                                            </a>
            </div>
            <div class="article-content">
                <div class="article-title visible-lg">
                    <a target="_blank" data-id="86760" title="Airbnb 为啥瞄上了区块链技术？" href="http://www.8btc.com/airbnb-blockchain">Airbnb 为啥瞄上了区块链技术？</a>
                </div>
                <div class="article-title visible-md">
                    <a target="_blank" data-id="86760" title="Airbnb 为啥瞄上了区块链技术？" href="http://www.8btc.com/airbnb-blockchain">Airbnb 为啥瞄上了区块链技...</a>
                </div>
                <div class="article-title visible-sm">
                    <a target="_blank" data-id="86760" title="Airbnb 为啥瞄上了区块链技术？" href="http://www.8btc.com/airbnb-blockchain">Airbnb 为啥瞄上了...</a>
                </div>
                <div class="article-title visible-xs">
                    <a target="_blank" data-id="86760" title="Airbnb 为啥瞄上了区块链技术？" href="http://www.8btc.com/airbnb-blockchain">Airbnb 为啥瞄上了区块链技术？</a>
                </div>
                <div class="article-info clearfix">
                    <span class="pull-left visible-md visible-lg default-grey">2016-04-15 16:02</span>
                    <span class="pull-left visible-sm visible-xs default-grey">2016-04-15</span>
                    <span class="pull-right"><i class="fa fa-comment-o"></i> <a target="_blank" href="http://www.8btc.com/airbnb-blockchain#comment">1</a></span>
                    <!-- <span class="pull-right"><a href="http://www.8btc.com/author/changjia" title="由 长铗 发布" rel="nofollow"> 长铗</a></span> -->
                </div>
            </div>
        </article>
        <article class="article clearfix">
            <div class="article-thumbnail pull-left">
                <a target="_blank" href="http://www.8btc.com/blockchain-3-proof-of-existence" data-id="86618">
                    <img width="380" height="228" src="/static/js/application-380x228.jpg" class="img-responsive wp-post-image" alt="application">                                                                                                            </a>
            </div>
            <div class="article-content">
                <div class="article-title visible-lg">
                    <a target="_blank" data-id="86618" title="区块链3.0（九）：区块链公证和知识产权（IP）保护应用场景" href="http://www.8btc.com/blockchain-3-proof-of-existence">区块链3.0（九）：区块链公证和知...</a>
                </div>
                <div class="article-title visible-md">
                    <a target="_blank" data-id="86618" title="区块链3.0（九）：区块链公证和知识产权（IP）保护应用场景" href="http://www.8btc.com/blockchain-3-proof-of-existence">区块链3.0（九）：区块链公...</a>
                </div>
                <div class="article-title visible-sm">
                    <a target="_blank" data-id="86618" title="区块链3.0（九）：区块链公证和知识产权（IP）保护应用场景" href="http://www.8btc.com/blockchain-3-proof-of-existence">区块链3.0（九）：区...</a>
                </div>
                <div class="article-title visible-xs">
                    <a target="_blank" data-id="86618" title="区块链3.0（九）：区块链公证和知识产权（IP）保护应用场景" href="http://www.8btc.com/blockchain-3-proof-of-existence">区块链3.0（九）：区块链公证和知识产权（IP）保护应用场景</a>
                </div>
                <div class="article-info clearfix">
                    <span class="pull-left visible-md visible-lg default-grey">2016-04-15 12:16</span>
                    <span class="pull-left visible-sm visible-xs default-grey">2016-04-15</span>
                    <span class="pull-right"><i class="fa fa-comment-o"></i> <a target="_blank" href="http://www.8btc.com/blockchain-3-proof-of-existence#comment">0</a></span>
                    <!-- <span class="pull-right"><a href="http://www.8btc.com/author/changjia" title="由 长铗 发布" rel="nofollow"> 长铗</a></span> -->
                </div>
            </div>
        </article>
        <article class="article clearfix">
            <div class="article-thumbnail pull-left">
                <a target="_blank" href="http://www.8btc.com/r3-reveals-8-areas-of-blockchain-trial" data-id="86694">
                    <img width="380" height="228" src="/static/js/QQ截图20160415111424_副本-380x228.png" class="img-responsive wp-post-image" alt="QQ截图20160415111424_副本">                                                                                                            </a>
            </div>
            <div class="article-content">
                <div class="article-title visible-lg">
                    <a target="_blank" data-id="86694" title="R3透露正在针对8个不同的领域进行区块链概念验证试验" href="http://www.8btc.com/r3-reveals-8-areas-of-blockchain-trial">R3透露正在针对8个不同的领域进...</a>
                </div>
                <div class="article-title visible-md">
                    <a target="_blank" data-id="86694" title="R3透露正在针对8个不同的领域进行区块链概念验证试验" href="http://www.8btc.com/r3-reveals-8-areas-of-blockchain-trial">R3透露正在针对8个不同的领...</a>
                </div>
                <div class="article-title visible-sm">
                    <a target="_blank" data-id="86694" title="R3透露正在针对8个不同的领域进行区块链概念验证试验" href="http://www.8btc.com/r3-reveals-8-areas-of-blockchain-trial">R3透露正在针对8个...</a>
                </div>
                <div class="article-title visible-xs">
                    <a target="_blank" data-id="86694" title="R3透露正在针对8个不同的领域进行区块链概念验证试验" href="http://www.8btc.com/r3-reveals-8-areas-of-blockchain-trial">R3透露正在针对8个不同的领域进行区块链概念验证试验</a>
                </div>
                <div class="article-info clearfix">
                    <span class="pull-left visible-md visible-lg default-grey">2016-04-15 11:21</span>
                    <span class="pull-left visible-sm visible-xs default-grey">2016-04-15</span>
                    <span class="pull-right"><i class="fa fa-comment-o"></i> <a target="_blank" href="http://www.8btc.com/r3-reveals-8-areas-of-blockchain-trial#comment">2</a></span>
                    <!-- <span class="pull-right"><a href="http://www.8btc.com/author/changjia" title="由 长铗 发布" rel="nofollow"> 长铗</a></span> -->
                </div>
            </div>
        </article>
    </div>
</div>
