
<div class="col-md-6 col-sm-6">
    <div class="header bg-green">
        <a title="比特币" style="color:#EE4A45" target="_blank" href="http://www.8btc.com/?cat=7">比特币</a>/<a title="竞争币" style="color:#EE4A45" target="_blank" href="http://www.8btc.com/?cat=571">竞争币</a>
    </div>
    <div class="article-list">
        <article class="new-article">
            <div class="article-thumbnail animated flipInY" style="overflow:visible;">
                <a target="_blank" href="http://www.8btc.com/hsbc-executive-join-ripple" data-id="86349">
                    <img width="380" height="228" src="/static/js/QQ截图20160416133453-380x228.png" class="img-responsive wp-post-image" alt="QQ截图20160416133453">                                                                                                            </a>
                <div class="article-info clearfix">
                    <span class="pull-left visible-md visible-lg default-grey">2016-04-16 07:23</span>
                    <span class="pull-left visible-sm visible-xs default-grey">2016-04-16</span>
                    <span class="pull-right"><i class="fa fa-comment-o"></i> <a target="_blank" href="http://www.8btc.com/hsbc-executive-join-ripple#comment">0</a></span>
                    <!-- <span class="pull-right"><a href="http://www.8btc.com/author/changjia" title="由 长铗 发布" rel="nofollow"> 长铗</a></span> -->
                </div>
            </div>
            <div class="article-content">
                <div class="article-title visible-lg visible-xs">
                    <a target="_blank" data-id="86349" title="汇丰银行高管及SWIFT董事Marcus Treacher加盟Ripple" href="http://www.8btc.com/hsbc-executive-join-ripple">汇丰银行高管及SWIFT董事Marcus Tre...</a>
                </div>
                <div class="article-title visible-sm  visible-md">
                    <a target="_blank" data-id="86349" title="汇丰银行高管及SWIFT董事Marcus Treacher加盟Ripple" href="http://www.8btc.com/hsbc-executive-join-ripple">汇丰银行高管及SWIFT董事M...</a>
                </div>
                <div class="artcile-details  visible-md visible-lg">

                    今天，我们宣布了马库斯•特雷彻（Marcus Treacher）作为公司战略账户全球主管的任命。在这个角色中，他将扩大我们的战略账户团队并且推动公司业务在欧洲以及全世界的持续增长。


                    特雷彻将...        
                </div>
                <div class="artcile-details visible-sm visible-xs">

                    今天，我们宣布了马库斯•特雷彻（Marcus Treacher）作为公司战...        
                </div>
            </div>
        </article>
        <article class="article clearfix">
            <div class="article-thumbnail pull-left">
                <a target="_blank" href="http://www.8btc.com/nem-blockchain" data-id="86710">
                    <img width="380" height="228" src="/static/js/softbank1-380x228.jpg" class="img-responsive wp-post-image" alt="softbank">                                                                                                            </a>
            </div>
            <div class="article-content">
                <div class="article-title visible-lg">
                    <a target="_blank" data-id="86710" title="NEM区块链方案通过软银集团旗下银行总账系统评估" href="http://www.8btc.com/nem-blockchain">NEM区块链方案通过软银集团旗...</a>
                </div>
                <div class="article-title visible-md">
                    <a target="_blank" data-id="86710" title="NEM区块链方案通过软银集团旗下银行总账系统评估" href="http://www.8btc.com/nem-blockchain">NEM区块链方案通过软银集...</a>
                </div>
                <div class="article-title visible-sm">
                    <a target="_blank" data-id="86710" title="NEM区块链方案通过软银集团旗下银行总账系统评估" href="http://www.8btc.com/nem-blockchain">NEM区块链方案通...</a>
                </div>
                <div class="article-title visible-xs">
                    <a target="_blank" data-id="86710" title="NEM区块链方案通过软银集团旗下银行总账系统评估" href="http://www.8btc.com/nem-blockchain">NEM区块链方案通过软银集团旗下银行总账系统评估</a>
                </div>
                <div class="article-info clearfix">
                    <span class="pull-left visible-md visible-lg default-grey">2016-04-15 17:24</span>
                    <span class="pull-left visible-sm visible-xs default-grey">2016-04-15</span>
                    <span class="pull-right"><i class="fa fa-comment-o"></i> <a target="_blank" href="http://www.8btc.com/nem-blockchain#comment">0</a></span>
                    <!-- <span class="pull-right"><a href="http://www.8btc.com/author/changjia" title="由 长铗 发布" rel="nofollow"> 长铗</a></span> -->
                </div>
            </div>
        </article>
        <article class="article clearfix">
            <div class="article-thumbnail pull-left">
                <a target="_blank" href="http://www.8btc.com/mit-run-ripple" data-id="86348">
                    <img width="380" height="228" src="/static/js/QQ截图20160416134003_副本-380x228.png" class="img-responsive wp-post-image" alt="QQ截图20160416134003_副本">                                                                                                            </a>
            </div>
            <div class="article-content">
                <div class="article-title visible-lg">
                    <a target="_blank" data-id="86348" title="麻省理工学院运行Ripple共识账本验证器" href="http://www.8btc.com/mit-run-ripple">麻省理工学院运行Ripple共识账本...</a>
                </div>
                <div class="article-title visible-md">
                    <a target="_blank" data-id="86348" title="麻省理工学院运行Ripple共识账本验证器" href="http://www.8btc.com/mit-run-ripple">麻省理工学院运行Ripple共...</a>
                </div>
                <div class="article-title visible-sm">
                    <a target="_blank" data-id="86348" title="麻省理工学院运行Ripple共识账本验证器" href="http://www.8btc.com/mit-run-ripple">麻省理工学院运行R...</a>
                </div>
                <div class="article-title visible-xs">
                    <a target="_blank" data-id="86348" title="麻省理工学院运行Ripple共识账本验证器" href="http://www.8btc.com/mit-run-ripple">麻省理工学院运行Ripple共识账本验证器</a>
                </div>
                <div class="article-info clearfix">
                    <span class="pull-left visible-md visible-lg default-grey">2016-04-15 17:22</span>
                    <span class="pull-left visible-sm visible-xs default-grey">2016-04-15</span>
                    <span class="pull-right"><i class="fa fa-comment-o"></i> <a target="_blank" href="http://www.8btc.com/mit-run-ripple#comment">0</a></span>
                    <!-- <span class="pull-right"><a href="http://www.8btc.com/author/changjia" title="由 长铗 发布" rel="nofollow"> 长铗</a></span> -->
                </div>
            </div>
        </article>
        <article class="article clearfix">
            <div class="article-thumbnail pull-left">
                <a target="_blank" href="http://www.8btc.com/openbazaar-interplanetary" data-id="86727">
                    <img width="380" height="228" src="/static/js/openbazaar-380x228.jpg" class="img-responsive wp-post-image" alt="openbazaar">                                                                                                            </a>
            </div>
            <div class="article-content">
                <div class="article-title visible-lg">
                    <a target="_blank" data-id="86727" title="OpenBazaar整合星际文件系统（IPFS），运行商店无需再24小时开机" href="http://www.8btc.com/openbazaar-interplanetary">OpenBazaar整合星际文件系统（...</a>
                </div>
                <div class="article-title visible-md">
                    <a target="_blank" data-id="86727" title="OpenBazaar整合星际文件系统（IPFS），运行商店无需再24小时开机" href="http://www.8btc.com/openbazaar-interplanetary">OpenBazaar整合星际文件系...</a>
                </div>
                <div class="article-title visible-sm">
                    <a target="_blank" data-id="86727" title="OpenBazaar整合星际文件系统（IPFS），运行商店无需再24小时开机" href="http://www.8btc.com/openbazaar-interplanetary">OpenBazaar整合星...</a>
                </div>
                <div class="article-title visible-xs">
                    <a target="_blank" data-id="86727" title="OpenBazaar整合星际文件系统（IPFS），运行商店无需再24小时开机" href="http://www.8btc.com/openbazaar-interplanetary">OpenBazaar整合星际文件系统（IPFS），运行商店无需再24小时开机</a>
                </div>
                <div class="article-info clearfix">
                    <span class="pull-left visible-md visible-lg default-grey">2016-04-15 14:50</span>
                    <span class="pull-left visible-sm visible-xs default-grey">2016-04-15</span>
                    <span class="pull-right"><i class="fa fa-comment-o"></i> <a target="_blank" href="http://www.8btc.com/openbazaar-interplanetary#comment">4</a></span>
                    <!-- <span class="pull-right"><a href="http://www.8btc.com/author/changjia" title="由 长铗 发布" rel="nofollow"> 长铗</a></span> -->
                </div>
            </div>
        </article>
        <article class="article clearfix">
            <div class="article-thumbnail pull-left">
                <a target="_blank" href="http://www.8btc.com/shapeshift-claims-hack" data-id="86685">
                    <img width="380" height="228" src="/static/js/Inside-Job-380x228.jpg" class="img-responsive wp-post-image" alt="Backlit keyboard">                                                                                                            </a>
            </div>
            <div class="article-content">
                <div class="article-title visible-lg">
                    <a target="_blank" data-id="86685" title="数字货币交易所ShapeShift 称遭遇监守自盗" href="http://www.8btc.com/shapeshift-claims-hack">数字货币交易所ShapeShift 称遭...</a>
                </div>
                <div class="article-title visible-md">
                    <a target="_blank" data-id="86685" title="数字货币交易所ShapeShift 称遭遇监守自盗" href="http://www.8btc.com/shapeshift-claims-hack">数字货币交易所ShapeShif...</a>
                </div>
                <div class="article-title visible-sm">
                    <a target="_blank" data-id="86685" title="数字货币交易所ShapeShift 称遭遇监守自盗" href="http://www.8btc.com/shapeshift-claims-hack">数字货币交易所Sha...</a>
                </div>
                <div class="article-title visible-xs">
                    <a target="_blank" data-id="86685" title="数字货币交易所ShapeShift 称遭遇监守自盗" href="http://www.8btc.com/shapeshift-claims-hack">数字货币交易所ShapeShift 称遭遇监守自盗</a>
                </div>
                <div class="article-info clearfix">
                    <span class="pull-left visible-md visible-lg default-grey">2016-04-15 10:32</span>
                    <span class="pull-left visible-sm visible-xs default-grey">2016-04-15</span>
                    <span class="pull-right"><i class="fa fa-comment-o"></i> <a target="_blank" href="http://www.8btc.com/shapeshift-claims-hack#comment">3</a></span>
                    <!-- <span class="pull-right"><a href="http://www.8btc.com/author/changjia" title="由 长铗 发布" rel="nofollow"> 长铗</a></span> -->
                </div>
            </div>
        </article>
    </div>
</div>

