<div class="col-md-4 col-sm-4">
    <div class="column">
        <div class="header bg-red">币头条</div>
        <div class="bodyer">
            <div id="zan-recommend" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#zan-recommend" data-slide-to="0" class=""></li>
                    <li data-target="#zan-recommend" data-slide-to="1" class=""></li>
                    <li data-target="#zan-recommend" data-slide-to="2" class=""></li>
                    <li data-target="#zan-recommend" data-slide-to="3" class=""></li>
                </ol>
                <div class="carousel-inner">
                    <div class="item">
                        <div class="zan-thumbnail animated flipInY">
                            <a target="_blank" href="http://www.8btc.com/blockchain-bank">
                                <img width="380" height="228" src="/static/js/区块链银行-380x228.jpg" class="img-responsive wp-post-image" alt="区块链银行">                                                                                                                            </a>
                        </div>
                        <div class="title visible-md visible-lg">
                            <a title="央行成立“区块链银行”是个好主意吗？" href="http://www.8btc.com/blockchain-bank" target="_blank"><h3>央行成立“区块链银行”是个好主意吗？</h3></a>
                        </div>
                        <div class="title visible-sm visible-xs">
                            <a title="央行成立“区块链银行”是个好主意吗？" href="http://www.8btc.com/blockchain-bank" target="_blank"><h3>央行成立“区块链银行...</h3></a>
                        </div>
                        <div class="content visible-md visible-lg">

                            今年伊始，央行领导在数字货币研讨会上指出，随着信息科技的发展，以及移动互联网、可信可控云计算、终端安全存储、区块链等技术的演进，全球范围内支付方式发生...        
                        </div>
                        <div class="content visible-sm visible-xs">

                            今年伊始，央行领导在数字货币研讨会上指出，随着信息科技的发展，以及移动互联网、可信可控云计算、终端安...        
                        </div>
                        <div class="info clearfix">
                            <span class="pull-left visible-md visible-lg default-grey">2016-04-16 13:39</span>
                            <span class="pull-left visible-sm visible-xs default-grey">2016-04-16</span>
                            <span class="pull-right"><i class="fa fa-comment-o"></i> <a href="http://www.8btc.com/blockchain-bank#comment" target="_blank">1</a></span>
                            <!-- <span class="pull-right"><a href="http://www.8btc.com/author/changjia" title="由 长铗 发布" rel="nofollow"> 长铗</a></span> -->
                        </div>
                    </div>
                    <div class="item">
                        <div class="zan-thumbnail animated flipInY">
                            <a target="_blank" href="http://www.8btc.com/10-stock-exchanges-blockchain">
                                <img width="380" height="228" src="/static/js/QQ截图20160415150559_副本-380x228.png" class="img-responsive wp-post-image" alt="QQ截图20160415150559_副本">                                                                                                                            </a>
                        </div>
                        <div class="title visible-md visible-lg">
                            <a target="_blank" title="区块链有多火？10家大型交易所已经参与区块链技术研究" href="http://www.8btc.com/10-stock-exchanges-blockchain"><h3>区块链有多火？10家大型交易所已经参与区块链技术研究</h3></a>
                        </div>
                        <div class="title visible-sm visible-xs">
                            <a target="_blank" title="区块链有多火？10家大型交易所已经参与区块链技术研究" href="http://www.8btc.com/10-stock-exchanges-blockchain"><h3>区块链有多火？10家大...</h3></a>
                        </div>
                        <div class="content visible-md visible-lg">

                            我们经常会使用“银行正在拥抱区块链”来报道区块链，然而这一术语通常会掩盖很多正在积极测试这一新兴技术的金融机构。

                            例如，美国重要清算中心DTCC，该...        
                        </div>
                        <div class="content visible-sm visible-xs">

                            我们经常会使用“银行正在拥抱区块链”来报道区块链，然而这一术语通常会掩盖很多正在积极测试这一新兴技术...        
                        </div>
                        <div class="info clearfix">
                            <span class="pull-left visible-md visible-lg default-grey">2016-04-15 15:08</span>
                            <span class="pull-left visible-sm visible-xs default-grey">2016-04-15</span>
                            <span class="pull-right"><i class="fa fa-comment-o"></i> <a target="_blank" href="http://www.8btc.com/10-stock-exchanges-blockchain#comment">2</a></span>
                            <!-- <span class="pull-right"><a href="http://www.8btc.com/author/changjia" title="由 长铗 发布" rel="nofollow"> 长铗</a></span> -->
                        </div>
                    </div>
                    <div class="item active left">
                        <div class="zan-thumbnail animated flipInY">
                            <a target="_blank" href="http://www.8btc.com/453535">
                                <img width="380" height="228" src="/static/js/白硕-380x228.jpeg" class="img-responsive wp-post-image" alt="白硕">                                                                                                                            </a>
                        </div>
                        <div class="title visible-md visible-lg">
                            <a target="_blank" title="上交所前首席技术官：现在的区块链概念股是伪概念" href="http://www.8btc.com/453535"><h3>上交所前首席技术官：现在的区块链概念股是伪概念</h3></a>
                        </div>
                        <div class="title visible-sm visible-xs">
                            <a target="_blank" title="上交所前首席技术官：现在的区块链概念股是伪概念" href="http://www.8btc.com/453535"><h3>上交所前首席技术官：...</h3></a>
                        </div>
                        <div class="content visible-md visible-lg">

                            近期，区块链技术受到了资本市场的热烈关注。今天，上海证券交易所前首席技术官白硕却明确表示，现在资本市场的区块链概念股其实都是伪概念，并不受业内认同。
                            ...        
                        </div>
                        <div class="content visible-sm visible-xs">

                            近期，区块链技术受到了资本市场的热烈关注。今天，上海证券交易所前首席技术官白硕却明确表示，现在资本市...        
                        </div>
                        <div class="info clearfix">
                            <span class="pull-left visible-md visible-lg default-grey">2016-04-14 10:37</span>
                            <span class="pull-left visible-sm visible-xs default-grey">2016-04-14</span>
                            <span class="pull-right"><i class="fa fa-comment-o"></i> <a target="_blank" href="http://www.8btc.com/453535#comment">21</a></span>
                            <!-- <span class="pull-right"><a href="http://www.8btc.com/author/changjia" title="由 长铗 发布" rel="nofollow"> 长铗</a></span> -->
                        </div>
                    </div>
                    <div class="item next left">
                        <div class="zan-thumbnail animated flipInY">
                            <a target="_blank" href="http://www.8btc.com/342888">
                                <img width="380" height="228" src="/static/js/miss-the-train-380x228.jpg" class="img-responsive wp-post-image" alt="miss-the-train">                                                                                                                            </a>
                        </div>
                        <div class="title visible-md visible-lg">
                            <a target="_blank" title="不要错过！不要错过！不要错过！" href="http://www.8btc.com/342888"><h3>不要错过！不要错过！不要错过！</h3></a>
                        </div>
                        <div class="title visible-sm visible-xs">
                            <a target="_blank" title="不要错过！不要错过！不要错过！" href="http://www.8btc.com/342888"><h3>不要错过！不要错过！...</h3></a>
                        </div>
                        <div class="content visible-md visible-lg">

                            《三体》中，三体世界好心的监听员向地球人发出了这样的警告：
                            “这个世界收到了你们的信息。
                            我是这个世界的一个和平主义者，我首先收到信息是你们文明的幸运...        
                        </div>
                        <div class="content visible-sm visible-xs">

                            《三体》中，三体世界好心的监听员向地球人发出了这样的警告：
                            “这个世界收到了你们的信息。
                            我是这个世...        
                        </div>
                        <div class="info clearfix">
                            <span class="pull-left visible-md visible-lg default-grey">2016-04-13 09:50</span>
                            <span class="pull-left visible-sm visible-xs default-grey">2016-04-13</span>
                            <span class="pull-right"><i class="fa fa-comment-o"></i> <a target="_blank" href="http://www.8btc.com/342888#comment">11</a></span>
                            <!-- <span class="pull-right"><a href="http://www.8btc.com/author/changjia" title="由 长铗 发布" rel="nofollow"> 长铗</a></span> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>